/* 
 .project-page {
    font-family: 'Karla', sans-serif;
    overflow: hidden;
    transition: transform 0.4s, filter 0.4s;
  }
  
  
  .project-img:hover {
    transform: scale(1.05);

    filter: blur(5px);
    position: relative;
  }
  
  .project-img img {
    width: 50%;
    height: auto;
    display: block;
    transition: filter 0.4s;
    border-radius: 5px;
  } 
  

  
  .project-text:hover {
    display: inline;
  } 
  .project-text h3{
    font-size: 34px;
    font-weight: 700;
    line-height: 2;
  }
  .project-text p{
    font-size: 16px;
    font-weight: 600;
  }
  
   .project-page:hover .project-img img {
     filter: blur(0); 
   } 
  
   button {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  



  
  .project-page:hover::before {
    filter: blur(0); 
    transform: scale(1.05);
  }
  
  .project-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
     opacity: 1;
    transition: opacity 0.4s;
  }
  


 */






 .project-text:hover {
  display: inline;
} 
.project-text h3{
  font-size: 34px;
  font-weight: 700;
  line-height: 2;
}
.project-text p{
  font-size: 16px;
  font-weight: 600;
}





 .project-img:hover {
  transform: scale(1.05);

  filter: blur(5px);
  position: relative;
}

.project-img img {
  width: 90%;
  height: auto;
  display: block;
  transition: filter 0.4s;
  border-radius: 5px;
} 






 .project-page {
  font-family: 'Karla', sans-serif;
  overflow: hidden;
  transition: transform 0.4s, filter 0.4s;
}

.project-item {
  display: flex;
  align-items: center; /* Vertically center text and image */
}

.project-img {
  position: relative;
  overflow: hidden;
}



/* .project-text {
  text-align: center;
  opacity: 1;
  transition: opacity 0.4s;
} */

/* .project-text h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 2;
}

.project-text p {
  font-size: 16px;
  font-weight: 600;
} */

.project-page:hover .project-img img {
  filter: blur(0);
}

button {
  background-color: #0077b6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}





















